@media (max-width:1000px);

body,h1,h2,h3,h4,h5,h6, p, li, ul {
    font-family: "Raleway", Helvetica, sans-serif;
    text-decoration: none;
}

.main {
    height: 100px;
    background-color: antiquewhite;
}

.news {
    height: 100px;
    background-color: antiquewhite;
}


fieldset {
    width: 97%;
    border: none;
    border-top: solid 1px #fff;

}

fieldset legend {
    color: #01245c;
    font-family: Gotham-Medium;
    font-size: 20px;
}

fieldset legend:hover {
}

.mySlides {display: none}

.pict-content {
    height: 600px;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
}

.pict-container {
    padding: 10px;
}

.pict-display {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.txt-display {
    position: absolute;
    align-content: center;
    margin-left: 10px;
    float: left;
    bottom: 15px;
    color: #fff!important;
    opacity: 0.7;
    background-color: #000!important;
}

.txt-display h3 {
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    font-size: 15px; 
    margin: 0 auto;
}

.txt-display p {
    display: block;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left:15px;
    font-size: 10px;
    margin: 0 auto;
}

.pict-section {
    margin: 30px!important;
}

.list-pict {
    width: 100%; 
}

.list-opacity-off, .list-hover-opacity-off:hover {
    opacity: 1;
}
.list-opacity, .list-hover-opacity:hover {
    opacity: 0.60;
}

.flex-list {
    display: flex;
    flex:auto;
  }

  ul {
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  li {
      margin: 0 auto;
      padding: 3px;
  }

.flex-list img {
    width: 100%;
    height: 98px;
    cursor: pointer;

}
